<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component build</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>

<body>

<div id="navbar-placeholder">

</div>

<div class="container">

    <h1><b>EAP 8.0 component build</b></h1>
    <br/>

    <h2>Couldn't load the PNC build data. Try again later.</h2>


</div>

<div class="container" id="build-trigger-result-message"></div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

<script>

    $(function () {
        $("#navbar-placeholder").load("/page-components/navbar.html", function () {
            jQuery("#trigger-build-navbar-option").addClass("active");
        });

    });

    $("#additional-config").on("shown.bs.collapse", function () {
        document.querySelector("#script").style.height = "auto";
        document.querySelector("#script").style.height = document.querySelector("#script").scrollHeight + "px";
    });

    function appendCheckBoxLI(name, type) {
        var li = document.createElement("li");
        li.className = "list-group-item d-flex";
        var span = document.createElement("span");
        span.textContent = name;
        span.className = "list-group-item-text";
        span.style = "vertical-align: bottom";
        var input = document.createElement("input");
        input.type = "checkbox";
        input.checked = true;
        input.style = "margin-left: 2%; vertical-align: middle";

        li.append(span, input);

        $("#" + type + "-list-group").append(li);
    }

    function getChecked(type) {
        const result = [];
        $("#" + type + "-list-group").children().children("input").each(function (index) {
            if ($(this).is(":checked")) {
                result.push($(this).parent().children("span").text());
            }
        });

        return result;
    }

    $.fn.sortSelect = function () {
        var op = this.children("option");
        op.sort(function (a, b) {
            return a.text > b.text ? 1 : -1;
        })
        return this.empty().append(op);
    }

    $.fn.changeElementType = function (newType) {
        var newElements = [];

        $(this).each(function () {
            var attrs = {};

            $.each(this.attributes, function (idx, attr) {
                attrs[attr.nodeName] = attr.nodeValue;
            });

            var newElement = $("<" + newType + "/>", attrs).append($(this).contents());

            $(this).replaceWith(newElement);

            newElements.push(newElement);
        });

        return $(newElements);
    };

    $("#project").sortSelect();

    $("#project").click(function () {
                const selected = $("#project option:selected").text().split(" - ");

                let get_path = "/project/" + selected[0];

                if (selected.length > 1) {
                    get_path += "?stream=" + selected[1];
                }

                $.ajax({
                    url: get_path,
                    type: "GET",
                    cache: false
                }).done(function (response) {
                    $("#project").val(response.project);
                    $("#upstream").val(response.upstream);
                    $("#version").attr("placeholder", " -- please fill in the version -- ");
                    $("#revision").attr("placeholder", " -- please fill in the commit SHA -- ");

                    $("#script").val(response.script);
                    document.querySelector("#script").style.height = "auto";
                    document.querySelector("#script").style.height = document.querySelector("#script").scrollHeight + "px";

                    $("#openjdk-list-group").empty();
                    response.environmentTools.openjdk.sort().forEach(id => appendCheckBoxLI(id, "openjdk"));
                    $("#maven-list-group").empty();
                    response.environmentTools.maven.sort().forEach(id => appendCheckBoxLI(id, "maven"));
                }).fail(function (err) {
                    $("#build-trigger-result-message").append("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span class='pficon pficon-close'></span></button><span class='pficon pficon-error-circle-o'></span><strong>Error </strong>" + err.responseText + "</div>");
                    $("#build-button").removeClass("disabled").removeAttr("disabled");
                    console.error(err);
                });

            }
    )

    $("#buildForm").submit(function (event) {

        const openjdk = getChecked("openjdk");

        if (openjdk.length === 0) {
            bootbox.alert("No OpenJDK was specified. At least one OpenJDK is required.");
            return false;
        }

        const maven = getChecked("maven");

        if (maven.length === 0) {
            bootbox.alert("No Maven was specified. At least one Maven is required.");
            return false;
        }

        const environmentTools = {
            openjdk: openjdk,
            maven: maven
        }

        const buildInfo = {
            project: $("#project").val(),
            upstream: $("#upstream").val(),
            version: $("#version").val(),
            revision: $("#revision").val(),
            script: $("#script").val(),
            environmentTools: environmentTools
        }
        console.log("BuildInfo: " + JSON.stringify(buildInfo));

        event.preventDefault();

        bootbox.confirm({
            title: 'You are about to trigger productization build with the following information:',
            callback: function (result) {
                if (result) {
                    const post_url = "/build-trigger/trigger"; //get form action url
                    const request_method = "POST"; //get form GET/POST method

                    $.ajax({
                        url: post_url,
                        type: request_method,
                        data: JSON.stringify(buildInfo),
                        contentType: 'application/json',
                        cache: false
                    }).done(function (response) {
                        $("#build-trigger-result-message").append("<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span class='pficon pficon-close'></span></button><span class='pficon pficon-ok'></span><strong>Success </strong>" + response + "</div>");
                        $("#build-button").removeClass("disabled").removeAttr("disabled");
                    }).fail(function (err) {
                        $("#build-trigger-result-message").append("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span class='pficon pficon-close'></span></button><span class='pficon pficon-error-circle-o'></span><strong>Error </strong>" + err.responseText + "</div>");
                        $("#build-button").removeClass("disabled").removeAttr("disabled");
                        console.error(err);
                    });
                }
            },
            message: '<div>' +
                    '<p><b>Project: </b>' + $("#project").val() + '</p>' +
                    '<p><b>Upstream: </b>' + buildInfo.upstream + '</p>' +
                    '<p><b>Version: </b>' + buildInfo.version + '</p>' +
                    '<p><b>Revision: </b>' + buildInfo.revision + '</p>' +
                    '<p><b>Script: </b>' + buildInfo.script + '</p>' +
                    '<p><b>OpenJDK: </b>' + buildInfo.environmentTools.openjdk.join(', ') + '</p>' +
                    '<p><b>Maven: </b>' + buildInfo.environmentTools.maven.join(', ') + '</p>' +
                    '</div>',
            buttons: {
                confirm: {
                    label: 'Send'
                }
            }
        });
    });

</script>
</html>
