<div class="pf-v5-l-bullseye">
    <div class="pf-v5-c-modal-box pf-m-md">
        <div class="pf-v5-c-modal-box__close">
            <button class="pf-v5-c-button pf-m-plain close-modal" type="button">
                <i class="fas fa-times" aria-hidden="true"></i>
            </button>
        </div>
        <header class="pf-v5-c-modal-box__header">
            <h1 class="pf-v5-c-modal-box__title">Send the following build information to productization</h1>
        </header>
        <div class="pf-v5-c-modal-box__body" id="modal-body">
            To be filled with form info
        </div>
        <footer class="pf-v5-c-modal-box__footer">
            <button id="send-button" class="pf-v5-c-button pf-m-primary" type="button">Send</button>
            <button class="pf-v5-c-button pf-m-link close-modal" type="button">Cancel</button>
        </footer>
    </div>
</div>
