<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component build modification</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>

<body>

<div id="navbar-placeholder">

</div>

<div class="container">

    <h1><b>Component build modification</b></h1>
    <br/>

    <form id="buildForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" for="upstream">Project:</label>
            <div class="col-md-6">
                <select id="project" class="form-control" required>
                    <option hidden selected> -- select an option --</option>
                    {#for id in projectIds}
                        <option value="{id}">{id}</option>
                    {/for}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="version">Upstream:</label>
            <div class="col-md-6">
                <input type="text" id="upstream" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="openjdk">OpenJDK:</label>
            <div class="col-md-6">
                <div id="openjdk" class="input-group col-md-6">
                    <input id="openjdk-list-add-text" type="text" class="form-control"
                           placeholder="add an item (8, 11, 17)...">
                    <div class="input-group-addon" style="background-color: transparent; border: 0">
                        <button id="add-openjdk-button" class="btn btn-xs" style="outline: none" type="button">Add
                        </button>
                    </div>
                </div>
                <ul id="openjdk-list-group" class="list-group">
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="maven">Maven:</label>
            <div class="col-md-6">
                <div class="input-group col-md-6">
                    <input id="maven-list-add-text" type="text" class="form-control"
                           placeholder="add an item (3.3.9, 3.8.1)...">
                    <div class="input-group-addon" style="background-color: transparent; border: 0">
                        <button id="add-maven-button" class="btn btn-xs" style="outline: none" type="button">Add
                        </button>
                    </div>
                </div>
                <ul id="maven-list-group" class="list-group">
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="script">Script:</label>
            <div class="col-md-6">
                    <textarea id="script" type="text" class="form-control" rows="1" style="overflow: hidden"
                              required>
                    </textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button id="build-button" type="submit" class="btn btn-primary">Modify build</button>
            </div>
        </div>
    </form>

</div>

<div class="container" id="build-trigger-result-message"></div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

<script>

    $(function () {
        $("#navbar-placeholder").load("/page-components/navbar.html", function () {
            jQuery("#modify-build-navbar-option").addClass("active");
        });

        {#if project}
        $("#project").val("{project}").click();
        {/if}
    })

    $("#additional-config").on("shown.bs.collapse", function () {
        document.querySelector("#script").style.height = "auto";
        document.querySelector("#script").style.height = document.querySelector("#script").scrollHeight + "px";
    });

    function appendLI(name, type) {
        var li = document.createElement("li");
        li.className = "list-group-item d-flex";
        var span = document.createElement("span");
        span.textContent = name;
        var button = document.createElement("button");
        button.className = "btn btn-xs btn-danger btn-secondary " + type + "-list-delete-button";
        button.id = type + "-list-delete-button-" + name;
        button.type = "button";
        button.textContent = "-";
        button.style = "margin-left: 2%; outline: none";

        li.append(span, button);

        $("#" + type + "-list-group").append(li);
    }

    $.fn.sortSelect = function () {
        var op = this.children("option");
        op.sort(function (a, b) {
            return a.text > b.text ? 1 : -1;
        })
        return this.empty().append(op);
    }

    $.fn.changeElementType = function (newType) {
        var newElements = [];

        $(this).each(function () {
            var attrs = {};

            $.each(this.attributes, function (idx, attr) {
                attrs[attr.nodeName] = attr.nodeValue;
            });

            var newElement = $("<" + newType + "/>", attrs).append($(this).contents());

            $(this).replaceWith(newElement);

            newElements.push(newElement);
        });

        return $(newElements);
    };

    $("#add-openjdk-button").click(function () {
        const input = $("#openjdk-list-add-text").val();
        appendLI(input, "openjdk");
    });

    $("#add-maven-button").click(function () {
        const input = $("#maven-list-add-text").val();
        appendLI(input, "maven");
    });

    $(document).on("click", ".openjdk-list-delete-button", function () {
        $(this).parent().remove();
    });

    $(document).on("click", ".maven-list-delete-button", function () {
        $(this).parent().remove();
    });

    $("#project").sortSelect();

    $("#project").click(function () {
            const selected = $("#project option:selected").text().split(" - ");
            console.log("selected " + selected)

            let get_path = "/project/" + selected[0];

            if (selected.length > 1) {
                get_path += "?stream=" + selected[1];
            }

            console.log(get_path)
            $.ajax({
                url: get_path,
                type: "GET",
                cache: false
            }).done(function (response) {
                $("#project").val(response.project);
                $("#upstream").val(response.upstream);

                $("#script").val(response.script);
                document.querySelector("#script").style.height = "auto";
                document.querySelector("#script").style.height = document.querySelector("#script").scrollHeight + "px";

                $("#openjdk-list-group").empty();
                response.environmentTools.openjdk.sort().forEach(id => appendLI(id, "openjdk"));

                $("#maven-list-group").empty();
                response.environmentTools.maven.sort().forEach(id => appendLI(id, "maven"));

            }).fail(function (err) {
                $("#build-trigger-result-message").append("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span class='pficon pficon-close'></span></button><span class='pficon pficon-error-circle-o'></span><strong>Error </strong>" + err.responseText + "</div>");
                $("#build-button").removeClass("disabled").removeAttr("disabled");
                console.error(err);
            });

        }
    )

    $("#buildForm").submit(function (event) {

        const environmentTools = {
            openjdk: $.map($("#openjdk-list-group").children().children("span"), el => el.textContent).sort(),
            maven: $.map($("#maven-list-group").children().children("span"), el => el.textContent).sort()
        }

        const buildInfo = {
            project: $("#project").val(),
            upstream: $("#upstream").val(),
            script: $("#script").val(),
            environmentTools: environmentTools
        }
        console.log("BuildInfo: " + JSON.stringify(buildInfo));

        event.preventDefault();

        bootbox.confirm({
            title: 'You are about to modify productization build with the following information:',
            callback: function (result) {
                if (result) {
                    const put_url = "/build-trigger/modify"; //get form action url
                    const request_method = "PUT"; //get form GET/POST method

                    $.ajax({
                        url: put_url,
                        type: request_method,
                        data: JSON.stringify(buildInfo),
                        contentType: 'application/json',
                        cache: false
                    }).done(function (response) {
                        $("#build-trigger-result-message").append("<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span class='pficon pficon-close'></span></button><span class='pficon pficon-ok'></span><strong>Success </strong>" + response + "</div>");
                        $("#build-button").removeClass("disabled").removeAttr("disabled");
                    }).fail(function (err) {
                        $("#build-trigger-result-message").append("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span class='pficon pficon-close'></span></button><span class='pficon pficon-error-circle-o'></span><strong>Error </strong>" + err.responseText + "</div>");
                        $("#build-button").removeClass("disabled").removeAttr("disabled");
                        console.error(err);
                    });
                }
            },
            message: '<div>' +
                '<p><b>Project: </b>' + $("#project").val() + '</p>' +
                '<p><b>Upstream: </b>' + buildInfo.upstream + '</p>' +
                '<p><b>Script: </b>' + buildInfo.script + '</p>' +
                '<p><b>OpenJDK: </b>' + buildInfo.environmentTools.openjdk.join(', ') + '</p>' +
                '<p><b>Maven: </b>' + buildInfo.environmentTools.maven.join(', ') + '</p>' +
                '</div>',
            buttons: {
                confirm: {
                    label: 'Send'
                }
            }
        });
    });

</script>
</html>
